*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* colors */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --gray-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --dark-aqua: hsl(157, 43%, 18%, 100%);

  /* fonts */
  --main: "Montserrat", sans-serif;
  --heading: "Fraunces", serif;

  /* font-weight */
  --medium: 500;
  --bold: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--cream);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  background-color: var(--white);
  max-width: 21.4375rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15rem 1fr;
  border-radius: 1rem;
}

.card-container picture img {
  max-height: 15rem;
  border-radius: 1rem 1rem 0 0;
}

.content-container {
  padding: 2rem;
}

.content-container > .ribbon-text {
  font-family: var(--main);
  font-weight: var(--medium);
  font-size: 0.75rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  color: var(--gray-blue);
}

.content-container > h2,
.price-box > p {
  font-family: var(--heading);
  font-weight: var(--bold);
  font-size: 2rem;
  line-height: 1;
}

.content-container > h2 {
  margin-bottom: 1rem;
  color: var(--dark-blue);
}

.content-container > .description {
  font-family: var(--main);
  font-weight: var(--medium);
  font-size: 0.875rem;
  line-height: 1.64;
  color: var(--gray-blue);
  margin-top: 1rem;
  margin-bottom: 1.25rem;
}

.price-box {
  display: flex;
  align-items: center;
  gap: 1.1875rem;
}

.price-box > p {
  color: var(--dark-cyan);
}

.price-box > s {
  font-family: var(--main);
  font-weight: var(--medium);
  font-size: 0.8125rem;
  line-height: 1.769rem;
  color: var(--gray-blue);
}

.content-container button {
  width: 100%;
  background-color: var(--dark-cyan);
  color: var(--white);
  font-family: var(--main);
  font-weight: var(--bold);
  font-size: 0.875rem;
  border: 0;
  margin-top: 1.25rem;
  padding: 1.0625rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.726rem;
  transition-duration: 1s;
}

.content-container button:focus,
.content-container button:hover {
  cursor: pointer;
  background-color: var(--dark-aqua);
}

@media only screen and (min-width: 601px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    min-width: 37.5rem;
  }

  .card-container picture img {
    min-width: 18.75rem;
    min-height: 100%;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
  }

  .content-container > .ribbon-text {
    margin-bottom: 1.25rem;
  }

  .content-container > h2 {
    margin-bottom: 1.5rem;
  }

  .content-container > .description {
    margin-bottom: 1.8rem;
  }

  .card-container button {
    margin-top: 1.875rem;
  }

}
